{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "privateMethod": true,
      "functionBind": true,
      "exportDefaultFrom": true,
      "topLevelAwait": true,
      "importMeta": true,
      "decorators": true
    },
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": false
    }
  }
}
